*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}
body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('images/images/background2.png');
    background-size: cover;
    background-position: center;

    /*background: #222;*/
}

.card {
    position: relative;
    width: 400px;
    height: 555px;
    background: rgba(255, 255, 255,.1);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 16px;
    padding: 20px;
    color: #fff;
    text-align: center;

}


/* .card{

    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
*/
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img {
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
/*.weather{
    display: none;

}*/

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}







.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
}
          
.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -150px;
}

@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}


.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 100px;
}
.bubbles img:nth-child(2){
    animation-delay: -1s;
    width: 60px;
}
.bubbles img:nth-child(3){
    animation-delay: 4s;
    width: 40px;
}
.bubbles img:nth-child(4){
    animation-delay: 8s;
    width: 20px;
}
.bubbles img:nth-child(5){
    animation-delay: 6s;
}
.bubbles img:nth-child(6){
    animation-delay: 5s;
}
/*.bubbles img:nth-child(7){
    animation-delay: 3s;
    width: 80px;
} */
.bubbles img:nth-child(7){
    animation-delay: 7s;
    width: 40px;
}
.bubbles img:nth-child(8){
    animation-delay: -2s;
    width: 70px;
}
.bubbles img:nth-child(9){
    animation-delay: 1s;
    width: 30px;
}



          



